<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="fragment" th:fragment="courses">

    <h1>Courses</h1>

    <button type="button" class="button" id="add_course">Add course</button>
    <button type="button" class="button" id="refresh_courses">Refresh</button>
        <button id="courses_statistics" type="button" class="button">Show statistics</button>


    <table class="datatable" id="table_courses">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Functions</th>
            <th>Page</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div class="lightbox_bg"></div>

    <div id="courses_lightbox" class="lightbox_container courses">
        <div class="lightbox_close"></div>
        <div class="lightbox_content">

            <h2>Add course</h2>
            <form class="form add" id="form_course" data-id="" novalidate>
                <div class="input_container">
                    <label for="title">Title: <span class="required">*</span></label>
                    <div class="field_container">
                        <input type="text" class="text" name="title" id="title" value="" required>
                    </div>
                </div>
                <div class="input_container">
                    <label for="description">Description: </label>
                    <div class="field_container">
                        <input type="text" class="text" name="description" id="description" value="">
                    </div>
                </div>
                <div class="button_container">
                    <button type="submit">Add courses</button>
                </div>
            </form>
        </div>
    </div>

</div>

</body>
</html>