<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="fragment" th:fragment="lessons">

    <h1>Lessons</h1>

    <button type="button" class="button" id="add_lesson">Add lesson</button>
    <button type="button" class="button" id="refresh_lessons">Refresh</button>

    <table class="datatable" id="table_lessons">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Functions</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div class="lightbox_bg"></div>

    <div class="lightbox_container">
        <div class="lightbox_close"></div>
        <div class="lightbox_content">

            <h2>Add lesson</h2>
            <form class="form add" id="form_lesson" data-id="" novalidate>
                <div class="input_container">
                    <label for="title">Title: <span class="required">*</span></label>
                    <div class="field_container">
                        <input type="text" class="text" name="title" id="title" value="" required>
                    </div>
                </div>
                <div class="input_container">
                    <label for="description">Description: </label>
                    <div class="field_container">
                        <input type="text" class="text" name="description" id="description" value="">
                    </div>
                </div>
                <div class="button_container">
                    <button type="submit">Add lessons</button>
                </div>
            </form>
        </div>
    </div>

</div>

</body>
</html>