<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="fragment" th:fragment="users">

    <h1>Users</h1>

    <button type="button" class="button" id="add_user">Add user</button>
    <button type="button" class="button" id="refresh_users">Refresh</button>

    <table class="datatable" id="table_users">
        <thead>
        <tr>
            <th>Id</th>
            <th>Login</th>
            <th>Functions</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div class="lightbox_bg"></div>

    <div id="users_lightbox" class="lightbox_container users">
        <div class="lightbox_close"></div>
        <div class="lightbox_content">

            <h2>Add user</h2>
            <form class="form add" id="form_user" data-id="" novalidate>
                <div class="input_container">
                    <label for="login">Login: <span class="required">*</span></label>
                    <div class="field_container">
                        <input type="text" class="text" name="login" id="login" value="" required>
                    </div>
                </div>
                <div class="input_container password">
                    <label for="password">Password: <span class="required">*</span></label>
                    <div class="field_container">
                        <input type="text" class="text" name="password" id="password" value="" required>
                    </div>
                </div>
                <div class="input_container">
                    <label for="email">Email: </label>
                    <div class="field_container">
                        <input type="text" class="text" name="profile[email]" id="email" value="">
                    </div>
                </div>
                <div class="input_container">
                    <label for="name">Name: </label>
                    <div class="field_container">
                        <input type="text" class="text" name="profile[name]" id="name" value="">
                    </div>
                </div>
                <div class="input_container">
                    <label for="age">Age: </label>
                    <div class="field_container">
                        <input type="number" class="text" name="profile[age]" id="age" value="">
                    </div>
                </div>
                <div class="input_container">
                    <label >Roles: </label>
                    <div class="field_container">
                        <label for="checkbox_role_user">user: </label>
                        <input type="checkbox" id="checkbox_role_user" name="roles[][id]:number" value="0"  />

                        <label for="checkbox_role_admin">admin: </label>
                        <input type="checkbox" id="checkbox_role_admin" name="roles[][id]:number" value="1"/>

                        <label for="checkbox_role_teacher">teacher: </label>
                        <input type="checkbox" id="checkbox_role_teacher" name="roles[][id]:number" value="2"/>
                    </div>
                </div>
                <div class="button_container">
                    <button type="submit">Add users</button>
                </div>
            </form>
        </div>
    </div>

    <div th:insert="fragments/notifications :: notifications"></div>

</div>

</body>
</html>

