<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1000, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/layout.css">

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script charset="utf-8" src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script charset="utf-8" src="/js/lessons-crud.js"></script>
    <script charset="utf-8" src="/js/groups-crud.js"></script>
    <script charset="utf-8" src="//cdn.jsdelivr.net/jquery.validation/1.13.1/jquery.validate.min.js"></script>


    <title th:text="${course.title}">course</title>
</head>
<body>

<div id="course_container" class="container">
    <h2  class="section-title-underline mb-5">
        <span th:text="${course.title}"></span>
    </h2>

    <div th:text="${course.description}"></div>
    <p>
        <a href="#" class="btn btn-primary rounded-0 btn-lg px-5">Enroll</a>
    </p>

    <ul class="nav nav-pills nav-justified">
        <li><a id="load_lessons" href="#lessons_tab" data-toggle="pill">Lessons</a></li>
        <li><a id="load_groups" href="#groups_tab" data-toggle="pill">Groups</a></li>
    </ul>

    <div class="tab-content">
        <div id="lessons_tab" class="tab-pane fade" th:insert="fragments/lessons-crud :: lessons"></div>
        <div id="groups_tab" class="tab-pane fade" th:insert="fragments/groups-crud :: groups"></div>

    </div>
</div>

<script th:inline="javascript">
    var course = [[${course}]];
    var course_id = [[${course.id}]];
</script>


<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>
</html>