<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
.signup {
  margin: auto;
  position: relative;
  text-align: center;
  top: 30%;
  width: 30%;
}
input[type=text], input[type=password] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
img {
  width: 40%;
  border-radius: 15%;
  }
</style>
<head>
    <title>Sign up</title>

</head>
<body>
<div class="signup">

    <br/>
    <form id="signup" >
        <label>
            login <br/>
            <input type="text" name="login">
        </label>
        <br/>
        <label>
            password<br/>
            <input type="password" name="password">
        </label>
        <br/>
        <button onclick="saveUser(event)" type="submit">Sign up</button>
    </form>
</div>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script>

function saveUser(e) {
var user = {};
const form_data = new FormData(document.querySelector('#signup'));
form_data.forEach(function(value, key){
user[key] = value;
});
// Send user information to database
var request   = $.ajax({
url:          '/api/users',
cache:        false,
data:         JSON.stringify(user),
contentType: "application/json",
type:         'POST',
success: function (id) {
window.location.replace("/admin-panel");
},
error: function (e) {
alert("Registration error");
}
});
}
</script>
</body>
</html>

